body {
    background-color: #fafafa;
}

#title-app {
    text-align: center;
    font-size: 16px;
    margin: 0px;
    background-color: #222;
    color: #eee;
    padding: .2em;
}

#app {
    width: 100%;
    box-sizing: border-box;
    background-color: #e8ffcc;
    padding: 5px;
}

.details {
    display: block;
    width: 100%;  
}

.rules-row {
    padding: 5px;
    border-bottom: 1px solid black;
    /* margin-bottom: 5px; */
    padding-bottom: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

/** statistics table style */
.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 3px 2px;
    word-break: normal;
    text-align: center;
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.attribute-pages {
    font-family: Arial, Helvetica, sans-serif;
}

.attribute-pages > ul {
    margin-bottom: 3px;
    margin-top: 3px;
}

.cache {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 90%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #a1e991 !important;
    border-color: #31b331 !important;
    color: #222 !important;
    border-radius: 2%;
    padding: 2.5%;
    margin: 5%;
}

#gray-panel {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 80%;
    margin: 0px !important;
    padding: 0px !important;
}

.b-s {
    box-sizing: border-box;
}

.informations-popup {
    display: none;
    background-color: darkturquoise;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    position: absolute;
    width: 97.5%;
    z-index: 3;
}

.navbar {
    /* something */
}

/**/
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.show,
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary:active:focus {
    background-color: #a1e991 !important;
    border-color: #31b331 !important;
    color: #222 !important;
}
.btn-primary--dead {
    border-top-color: #DC3C22 !important;
    border-bottom-color: #DC3C22 !important;
}
.btn-primary__left,
.btn-primary__right--button {
    background-color: #EAC8A6 !important;
    border-color: #EAC8A6 !important;
}
.btn-primary__right,
.btn-primary__left--button {
    background-color: #EAC8A6 !important;
    border-color: #EAC8A6 !important;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.show,
.btn-warning:active:focus,
.btn-warning.disabled,
.btn-warning:disabled {
    background-color: #e7d455 !important;
    border-color: #c4b32f !important;
    color: #000000 !important;
}
.btn-warning--dead {
    background-color: #FF9587 !important;
    border-color: #FF9587 !important;
    border-top-color: #722323 !important;
    border-bottom-color: #722323 !important;
}
.btn-warning__left,
.btn-warning__left--button {
    background-color: #c4aa90 !important;
    border-color: #c8b097 !important;
}
.btn-warning__right,
.btn-warning__right--button {
    background-color: #c4aa90 !important;
    border-color: #c8b097 !important;
}
/*/